.subcategory-container {
    background-color: rgb(0, 0, 0);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 20px;

        .back-button {
            position: absolute;
            left: 20px;
            background-color: transparent;
            border-width: 0px;
            border-radius: 100px;

            &:hover {
                background-color: #c9ada7;
            }
        }

        .title {
            margin: 0;
            color: #B06BA9;
            font-size: 30px;
            margin-left: 15px;
        }
    }

    .clothing-items-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas para dispositivos móviles */
        grid-auto-rows: auto;
        grid-gap: 20px;
        max-width: 100%;
        overflow-y: scroll;

        .clothing-item {
            width: 100%;
            max-width: 100%; /* Ancho máximo del contenedor del ítem */
            height: 250px;
            display: flex;
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .barra-fija {
        background-color: white;
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        gap: 2px;
        position: fixed;
        bottom: 0;
        margin-left: -14px;
        height: 60px;
        align-items: center;

        a {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            color: inherit;
        }
    }

    @media (min-width: 768px) {
        .clothing-items-container {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste automático de columnas */
            gap: 30px; /* Espacio entre las imágenes */
        }
    }
}