.current-outfit-container {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;

    .back-button {
      position: absolute;
      left: 20px;
      background-color: transparent;
      border-width: 0px;
      border-radius: 100px;

      &:hover {
        background-color: #c9ada7;
      }
    }

    .title {
      margin: 0;
      color: #B06BA9;
      font-size: 30px;
    }
  }

  .outfit-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .outfit-details {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column;
    position: relative; /* Add position relative to the container */
    background-color: rgb(156, 131, 150);
    border-radius: 20px;
    padding: 20px;
    width: 75%;
    margin: auto; /* Margen automático para centrar horizontalmente */
  
    img {
      max-width: 100%;
      border-radius: 20px;
    }
  
    .description-square {
      background-color: white;
      color: gray;
      font-size: 90%;
      border-radius: 20px;
      padding: 10px;
      margin-top: 10px;
      width: 95%;
  
      p {
        margin: 0;
        
        
      }
    }
  
    button {
      background-color: rgb(237, 226, 226);
      border: none;
      cursor: pointer;
      border-radius: 10px;
      padding: 5px 20px;
      margin-top: 30px;
      margin-bottom: 30px;
  
      svg {
        color: red;
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;

      h2 {
        margin-top: 0;
      }

      button {
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
        background-color: #4a4e69;
        color: #fff;
        border: none;

        &:hover {
          background-color: #c9ada7;
        }

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
