.container {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding-top: 20px;

    .usuario {
        background-color: rgb(0, 0, 0);
        color: white;
        justify-content: left;
        margin-bottom: 10px;
        text-align: center;
        margin-left: -220px;
        display: flex;
        align-items: center;
        font-size: 25px;

        .user-icon {
            margin-right: 10px; // Adjust as needed
        }
    }

    .menu-icon {
        position: absolute;
        cursor: pointer;
        top: 20px;
        right: 20px;
        border-radius: 20px;

        &:hover {
            background-color: #C9ADA7;
        }

        .menu {
            display: none;
            position: absolute;
            right: 0;
            background-color: #fff;
            border: 5px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            width: 100px;

            button {
                background: none;
                border: none;
                color: #333;
                padding: 10px;
                text-align: left;
                width: 100%;
                display: block;
                font-weight: bold;
                font-size: 20px;

                &:hover {
                    background-color: #f1f1f1;
                }
            }
        }

        &:hover .menu {
            display: block;
        }
    }

    .perfil {
        display: flex;
        align-items: center;
        margin-right: 80px;
        margin-top: 20px;
        .pfp {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 130px;
            height: 130px;
            position: relative;
            overflow: hidden;
    
            &.has-outfit {
                border: 5px solid #C9ADA7; // Gold border, adjust the color as needed
                border-radius: 50%;
            }
    
            img {
                width: 130px;
                height: 130px;
                object-fit: cover;
                -webkit-clip-path: circle(50%);
                clip-path: circle(50%);
            }
        }
    }

   

    .botones-seguidores {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        gap: 10px;
        margin-left: 30px; // Increase left margin to move text further to the right
        margin-bottom: 10px;

        .seguidos, .seguidores {
            color: white;
            border: none;
            background-color: transparent;
            font-size: 23px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

    .full-name {
        margin-left: -210px;
        margin-top: -10px;
        margin-bottom: 20px;
        color: rgb(214, 145, 224);
        font-size: 24px;
        font-weight: bold;
    }

    .posts-likeados {
        border-radius: 20px;
        width: 95px;
        height: 45px;
        margin-top: 5px;
        align-self: flex-end;
        background-color: #D9D9D9;
        margin-right: 35px;
        margin-bottom: 30px;
        border-color: #fff;
    }

    .square1, .square2 {
        background-color: #9A8C98;
        width: 370px;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-right: 20px;
        margin-top: -10px;
        margin-bottom: 20px;
        cursor: pointer;
        border-radius: 20px;
        margin-left: 20px;
        border-width: 0px;
        text-decoration: none;

        &:hover {
            background-color: #C9ADA7;
        }

        span {
            color: #262626;
            font-size: 40px;
            line-height: 2;
            text-decoration: none;
        }

        .prendas {
            display: inline-block;
            margin-bottom: 0px;
            margin-left: 0px;
            left: 0px;
            font-size: 40px;
            margin-right: 198px;
            font-weight: bold;
            text-decoration: none;
        }

        .inspiracion {
            display: inline-block;
            margin-bottom: 0px;
            margin-left: 0px;
            left: 0px;
            font-size: 40px;
            margin-right: 100px; // Reduce margin-right to fit text within the square
            font-weight: bold;
            text-decoration: none;
        }
    }

    .subir-post {
        width: 85px;
        height: 85px;
        position: fixed;
        bottom: 100px;
        right: 20px;
        background-color: white;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        z-index: 1;
        margin-right: 18px;
        

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }
    }

    .barra-fija {
        background-color: white;
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        gap: 2px;
        position: fixed;
        bottom: 0;
        margin-left: -14px;
        height: 60px;
        align-items: center;

    
        a {
            text-decoration: none;
            color: inherit;
            
        }
    
        a:hover {
            color: inherit;
        }
    }
}
