.container {
    background-color: rgb(0, 0, 0);
    width: 90vw;
    height: 160vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative; /* Add position relative to the container */
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    border: 8px solid gray;
    position: relative; /* Add position relative to the circle */
    z-index: 1; /* Ensure circle is above the background */
    margin-top: 50px; /* Adjust as needed */
  }
  
  .logo {
    position: absolute; /* Position the logo absolutely within the container */
    top: 45%; /* Position the logo in the center vertically */
    left: 50%; /* Position the logo in the center horizontally */
    transform: translate(-50%, -50%); /* Center the logo */
    width: 150px; /* Adjust width of the logo as needed */
    height: 150px; /* Adjust height of the logo as needed */
    z-index: 2; /* Ensure logo is above the circle */
  }

  .square1 {
    width: 500px; /* Adjust width of the square as needed */
    height: 400px; /* Adjust height of the square as needed */
    background-color: gray;
    position: absolute; /* Position the square absolutely within the container */
    top: 36px; /* Position the square in the center vertically */
    left: 50%; /* Position the square in the center horizontally */
    transform: translate(-50%, 50%); /* Center the square */
    z-index: 0; /* Ensure square is below the circle */
    border-radius: 20px;
  }

  
  
  
  .text-field::placeholder {
    color: black; /* Set placeholder color to black */
    font-weight: bold;
    font-size: 30;
  }
  
  .button1{
    width: 200px;
    height: 50px;
    background-color: #4A4E69;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin: 30%;
    margin-top: 20px; /* Adjust margin-top to separate from text fields */
  }

  .name{
    width: 450px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 60px;
    cursor: pointer;
    position: absolute; /* Position the text absolutely */
    bottom: 100px; /* Position the text at the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
  }

  .instructions{
    width: 80%;
    margin:50px;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin-top: 10%; /* Adjust spacing */
    font-size: 18px; /* Adjust font size */
    cursor: pointer; /* Add cursor pointer on hover */
  }

  .input{
    display: flex;
    align-items: center;
    margin:auto;
    width: 400px;
    height: 70px;
    background:white;
    border-radius: 20px
  }

.input img{
    margin:0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}